#homepage{
    max-width: 90%;
    display: grid;
    /* grid-template-rows: [row1] 40% [row2] 70% [row3] 40% [row4] 70% [row5] 60% [row6] 30% [row7] 55% [row8] 40%;
    grid-template-columns: [col1] 15% [col2] 25% [col3] 40% [col4] 35% [col5] 25%; */
    margin: 0 auto;
    margin-top: 2rem;
    grid-template-columns: repeat(3,1fr);


    

}

.image{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    
}

.image img{
    display: block;
    max-width: 80%;
    height: auto;
    object-fit: cover;
    border-radius: 20px;

}
.label{
    color: white;
    font-weight: 700;
    font-style: italic;
    position: absolute;
    top: 75%;
    left: 40%;
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
}



.image:hover .label{
    visibility: visible;
    opacity: 0.9;
}

.image:hover .home-image{
    filter: brightness(70%); }
