
/* #homepage{
    max-width: 90%;
    display: grid;
    margin-top: 2rem;
    grid-template-columns: repeat(3,1fr);
    margin-top: 10rem;
}

.image{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: default;
    box-sizing: border-box;

    
}

.image img{
    display: block;
    max-width: 85%;
    border-radius: 20px;

}
.label{
    color: white;
    font-weight: 400;
    font-size: 1.2em;
    font-style: italic;
    position: absolute;
    width: 40%;
    top: 55%;
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
} */

/* .masonry {
    display: flex;
    flex-wrap: wrap;
    margin: -10px; /* add negative margin to offset the padding on the image elements */

  
  /* .image {
    flex: 1 0 calc(33.33% - 20px); /* set the width of each flex item to 33.33% minus the grid gap */
    /* margin: 10px; add padding to create a gap between images */
    /* position: relative;
  }
  
  .homeImage {
    width: 100%;
    height: auto;
    display: block;
  } */
  
  /* .label {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }


.homeImage:hover + .label{
    visibility: visible;
    opacity: 0.9;
}

.label:hover{
    visibility: visible;
    opacity: 0.9;
}

.homeImage:hover{
    filter: brightness(70%); 
} */
/* 
.label:hover .homeImage{
    filter: brightness(70%);
} */
